<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Home page" />
  <script defer src="https://kit.fontawesome.com/a673862905.js" crossorigin="anonymous"></script>
  <script defer src="./js/login/index.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./styles/login/login.css">
  <title>Dev Commerce</title>
</head>

<body>
  <h1>Login</h1>

  <form>
    <label for="email">Email</label>
    <input type="username" placeholder="email" name="username" id="username">
    <label for="password">Password</label>
    <input type="password" placeholder="password" name="password" id="password">
    <button type="submit">Sign In</button>
  </form>
  <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 690" xmlns="http://www.w3.org/2000/svg" class="transition duration-5000 ease-in-out delay-150">
    <style>
      .path-0 {
        animation: pathAnim-0 10s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }

      @keyframes pathAnim-0 {
        0% {
          d: path("M 0,700 C 0,700 0,175 0,175 C 76.53588516746413,200.40669856459328 153.07177033492826,225.8133971291866 254,209 C 354.92822966507174,192.1866028708134 480.2488038277512,133.1531100478469 595,125 C 709.7511961722488,116.8468899521531 813.9330143540669,159.5741626794258 896,188 C 978.0669856459331,216.4258373205742 1038.019138755981,230.55023923444978 1125,226 C 1211.980861244019,221.44976076555022 1325.9904306220096,198.2248803827751 1440,175 C 1440,175 1440,700 1440,700 Z");
        }

        25% {
          d: path("M 0,700 C 0,700 0,175 0,175 C 63.32057416267941,203.6507177033493 126.64114832535881,232.30143540669857 240,236 C 353.3588516746412,239.69856459330143 516.7559808612441,218.44497607655504 627,200 C 737.2440191387559,181.55502392344496 794.334928229665,165.9186602870813 869,166 C 943.665071770335,166.0813397129187 1035.9043062200958,181.8803827751196 1134,186 C 1232.0956937799042,190.1196172248804 1336.047846889952,182.55980861244018 1440,175 C 1440,175 1440,700 1440,700 Z");
        }

        50% {
          d: path("M 0,700 C 0,700 0,175 0,175 C 68.05741626794256,148.38755980861242 136.1148325358851,121.77511961722487 246,131 C 355.8851674641149,140.22488038277513 507.5980861244019,185.28708133971293 609,192 C 710.4019138755981,198.71291866028707 761.4928229665071,167.07655502392348 858,156 C 954.5071770334929,144.92344497607652 1096.4306220095693,154.40669856459328 1201,161 C 1305.5693779904307,167.59330143540672 1372.7846889952152,171.29665071770336 1440,175 C 1440,175 1440,700 1440,700 Z");
        }

        75% {
          d: path("M 0,700 C 0,700 0,175 0,175 C 122.3732057416268,182.10047846889952 244.7464114832536,189.20095693779905 332,194 C 419.2535885167464,198.79904306220095 471.3875598086124,201.29665071770333 547,182 C 622.6124401913876,162.70334928229667 721.7033492822966,121.61244019138758 819,124 C 916.2966507177034,126.38755980861242 1011.799043062201,172.25358851674642 1115,188 C 1218.200956937799,203.74641148325358 1329.1004784688994,189.3732057416268 1440,175 C 1440,175 1440,700 1440,700 Z");
        }

        100% {
          d: path("M 0,700 C 0,700 0,175 0,175 C 76.53588516746413,200.40669856459328 153.07177033492826,225.8133971291866 254,209 C 354.92822966507174,192.1866028708134 480.2488038277512,133.1531100478469 595,125 C 709.7511961722488,116.8468899521531 813.9330143540669,159.5741626794258 896,188 C 978.0669856459331,216.4258373205742 1038.019138755981,230.55023923444978 1125,226 C 1211.980861244019,221.44976076555022 1325.9904306220096,198.2248803827751 1440,175 C 1440,175 1440,700 1440,700 Z");
        }
      }
    </style>
    <defs>
      <linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
        <stop offset="5%" stop-color="#0693e3"></stop>
        <stop offset="95%" stop-color="#9900ef"></stop>
      </linearGradient>
    </defs>
    <path d="M 0,700 C 0,700 0,175 0,175 C 76.53588516746413,200.40669856459328 153.07177033492826,225.8133971291866 254,209 C 354.92822966507174,192.1866028708134 480.2488038277512,133.1531100478469 595,125 C 709.7511961722488,116.8468899521531 813.9330143540669,159.5741626794258 896,188 C 978.0669856459331,216.4258373205742 1038.019138755981,230.55023923444978 1125,226 C 1211.980861244019,221.44976076555022 1325.9904306220096,198.2248803827751 1440,175 C 1440,175 1440,700 1440,700 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.4" class="transition-all duration-300 ease-in-out delay-150 path-0"></path>
    <style>
      .path-1 {
        animation: pathAnim-1 15s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }

      @keyframes pathAnim-1 {
        0% {
          d: path("M 0,700 C 0,700 0,350 0,350 C 66.3732057416268,363.09090909090907 132.7464114832536,376.18181818181813 243,366 C 353.2535885167464,355.81818181818187 507.3875598086124,322.3636363636364 623,306 C 738.6124401913876,289.6363636363636 815.7033492822966,290.3636363636363 886,288 C 956.2966507177034,285.6363636363637 1019.799043062201,280.1818181818182 1111,290 C 1202.200956937799,299.8181818181818 1321.1004784688994,324.9090909090909 1440,350 C 1440,350 1440,700 1440,700 Z");
        }

        25% {
          d: path("M 0,700 C 0,700 0,350 0,350 C 108.62200956937798,371.2057416267943 217.24401913875596,392.41148325358853 324,380 C 430.75598086124404,367.58851674641147 535.6459330143541,321.5598086124402 625,300 C 714.3540669856459,278.4401913875598 788.1722488038278,281.34928229665076 865,309 C 941.8277511961722,336.65071770334924 1021.6650717703349,389.04306220095697 1118,400 C 1214.3349282296651,410.95693779904303 1327.1674641148325,380.47846889952154 1440,350 C 1440,350 1440,700 1440,700 Z");
        }

        50% {
          d: path("M 0,700 C 0,700 0,350 0,350 C 105.64593301435406,326.42105263157896 211.2918660287081,302.84210526315786 318,308 C 424.7081339712919,313.15789473684214 532.4784688995217,347.05263157894746 621,374 C 709.5215311004783,400.94736842105254 778.7942583732058,420.9473684210526 870,397 C 961.2057416267942,373.0526315789474 1074.3444976076555,305.15789473684214 1173,290 C 1271.6555023923445,274.84210526315786 1355.8277511961724,312.42105263157896 1440,350 C 1440,350 1440,700 1440,700 Z");
        }

        75% {
          d: path("M 0,700 C 0,700 0,350 0,350 C 101.1866028708134,316.71770334928226 202.3732057416268,283.4354066985646 288,288 C 373.6267942583732,292.5645933014354 443.6937799043062,334.97607655502395 545,354 C 646.3062200956938,373.02392344497605 778.8516746411483,368.6602870813397 891,367 C 1003.1483253588517,365.3397129186603 1094.8995215311006,366.38277511961724 1183,364 C 1271.1004784688994,361.61722488038276 1355.5502392344497,355.8086124401914 1440,350 C 1440,350 1440,700 1440,700 Z");
        }

        100% {
          d: path("M 0,700 C 0,700 0,350 0,350 C 66.3732057416268,363.09090909090907 132.7464114832536,376.18181818181813 243,366 C 353.2535885167464,355.81818181818187 507.3875598086124,322.3636363636364 623,306 C 738.6124401913876,289.6363636363636 815.7033492822966,290.3636363636363 886,288 C 956.2966507177034,285.6363636363637 1019.799043062201,280.1818181818182 1111,290 C 1202.200956937799,299.8181818181818 1321.1004784688994,324.9090909090909 1440,350 C 1440,350 1440,700 1440,700 Z");
        }
      }
    </style>
    <defs>
      <linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
        <stop offset="5%" stop-color="#0693e3"></stop>
        <stop offset="95%" stop-color="#9900ef"></stop>
      </linearGradient>
    </defs>
    <path d="M 0,700 C 0,700 0,350 0,350 C 66.3732057416268,363.09090909090907 132.7464114832536,376.18181818181813 243,366 C 353.2535885167464,355.81818181818187 507.3875598086124,322.3636363636364 623,306 C 738.6124401913876,289.6363636363636 815.7033492822966,290.3636363636363 886,288 C 956.2966507177034,285.6363636363637 1019.799043062201,280.1818181818182 1111,290 C 1202.200956937799,299.8181818181818 1321.1004784688994,324.9090909090909 1440,350 C 1440,350 1440,700 1440,700 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-1"></path>
    <style>
      .path-2 {
        animation: pathAnim-2 20s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }

      @keyframes pathAnim-2 {
        0% {
          d: path("M 0,700 C 0,700 0,525 0,525 C 105.95215311004785,549.5741626794259 211.9043062200957,574.1483253588516 324,559 C 436.0956937799043,543.8516746411484 554.3349282296651,488.98086124401914 626,479 C 697.6650717703349,469.01913875598086 722.7559808612441,503.9282296650718 812,506 C 901.2440191387559,508.0717703349282 1054.641148325359,477.3062200956938 1170,475 C 1285.358851674641,472.6937799043062 1362.6794258373207,498.8468899521531 1440,525 C 1440,525 1440,700 1440,700 Z");
        }

        25% {
          d: path("M 0,700 C 0,700 0,525 0,525 C 91.12918660287082,519 182.25837320574163,513 284,516 C 385.74162679425837,519 498.0956937799043,531 582,527 C 665.9043062200957,523 721.3588516746412,503 827,513 C 932.6411483253588,523 1088.468899521531,563 1199,570 C 1309.531100478469,577 1374.7655502392345,551 1440,525 C 1440,525 1440,700 1440,700 Z");
        }

        50% {
          d: path("M 0,700 C 0,700 0,525 0,525 C 94.64114832535887,562.1770334928229 189.28229665071774,599.3540669856459 283,587 C 376.71770334928226,574.6459330143541 469.51196172248797,512.7607655502392 570,510 C 670.488038277512,507.23923444976083 778.6698564593302,563.6028708133971 884,560 C 989.3301435406698,556.3971291866029 1091.8086124401914,492.8277511961723 1184,477 C 1276.1913875598086,461.1722488038277 1358.0956937799042,493.0861244019138 1440,525 C 1440,525 1440,700 1440,700 Z");
        }

        75% {
          d: path("M 0,700 C 0,700 0,525 0,525 C 107.58851674641147,500.5598086124402 215.17703349282294,476.1196172248804 306,470 C 396.82296650717706,463.8803827751196 470.88038277511964,476.08133971291863 562,480 C 653.1196172248804,483.91866028708137 761.3014354066986,479.555023923445 870,474 C 978.6985645933014,468.444976076555 1087.9138755980862,461.69856459330146 1183,470 C 1278.0861244019138,478.30143540669854 1359.043062200957,501.6507177033493 1440,525 C 1440,525 1440,700 1440,700 Z");
        }

        100% {
          d: path("M 0,700 C 0,700 0,525 0,525 C 105.95215311004785,549.5741626794259 211.9043062200957,574.1483253588516 324,559 C 436.0956937799043,543.8516746411484 554.3349282296651,488.98086124401914 626,479 C 697.6650717703349,469.01913875598086 722.7559808612441,503.9282296650718 812,506 C 901.2440191387559,508.0717703349282 1054.641148325359,477.3062200956938 1170,475 C 1285.358851674641,472.6937799043062 1362.6794258373207,498.8468899521531 1440,525 C 1440,525 1440,700 1440,700 Z");
        }
      }
    </style>
    <defs>
      <linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
        <stop offset="5%" stop-color="#0693e3"></stop>
        <stop offset="95%" stop-color="#9900ef"></stop>
      </linearGradient>
    </defs>
    <path d="M 0,700 C 0,700 0,525 0,525 C 105.95215311004785,549.5741626794259 211.9043062200957,574.1483253588516 324,559 C 436.0956937799043,543.8516746411484 554.3349282296651,488.98086124401914 626,479 C 697.6650717703349,469.01913875598086 722.7559808612441,503.9282296650718 812,506 C 901.2440191387559,508.0717703349282 1054.641148325359,477.3062200956938 1170,475 C 1285.358851674641,472.6937799043062 1362.6794258373207,498.8468899521531 1440,525 C 1440,525 1440,700 1440,700 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-2"></path>
  </svg>
</body>

</html>