<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Home page" />
  <script defer src="https://kit.fontawesome.com/a673862905.js" crossorigin="anonymous"></script>
  <script defer src="./js/login/index.js" crossorigin="anonymous"></script>
  <script src="./js/login/styles.js"></script>
  <link rel="shortcut icon" href="./public/DevCommerce.png" type="image/x-icon">
  <link rel="stylesheet" href="./styles/login/login.css">
  <title>Dev Commerce</title>
</head>

<body>
  <h1>Login</h1>

  <form>
    <label for="email">Email</label>
    <input type="username" placeholder="email" name="username" id="username">
    <label for="password">Password</label>
    <input type="password" placeholder="password" name="password" id="password">
    <button type="submit">Sign In</button>
  </form>
</body>

</html>