<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="About Me Page">
    <link rel="stylesheet" href="./Stylesheets/home.css">
    <script defer src="./JavaScript/home.js"></script>
    <script defer src="./JavaScript/timeline.js"></script>
    <script defer src="https://kit.fontawesome.com/a673862905.js" crossorigin="anonymous"></script>
    <script defer src="./JavaScript/maps.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9yjwFjd4DZ2sOGvrOjjwM5VtwP3B-nfw&callback=myMap"></script>
    <title>Ryan Large</title>
</head>
  <body>
  	<div class="drop-shadow"></div>
  	<div class="nav-toggle">
  		<span></span>
  		<span></span>
  		<span></span>
  	</div>
  	<aside class="flex-col">
      <i class="fa-solid fa-layer-group"></i>
      <i class="fa-regular fa-file-code"></i>
      <i class="fa-solid fa-desktop"></i>
      <i class="fa-brands fa-connectdevelop"></i>
      <i class="fa-solid fa-server"></i>
      <i class="fa-solid fa-code"></i>
      <i class="fa-brands fa-dev"></i>
  	</aside>
    <img src="https://miro.medium.com/max/1072/1*rLnrIrpIywxyEX-Vt51l3Q.png" class="hide">
  	<nav>
  		<div class="logo">Largè</div>
  		<h2 class="top-heading">OverView</h2>
  		<ul>
  			<li>Deployments</li>
  			<li>Tech Stack</li>
  			<li>Engineering</li>
  			<li>Logs</li>
  			<li>Documentation</li>
  		</ul>
  		<h2>TimeLine</h2>
  		<ul>
  			<li>Freelancing</li>
  			<li>Professional</li>
  			<li>Personal Work</li>
  		</ul>
  		<h2>Connections</h2>
  		<ul>
  			<li>Quotes</li>
  			<li>Dev Process</li>
  			<li>Why Work With Me</li>
  			<li>Billing</li>
  			<li>Community</li>
  		</ul>
  		<h2>Social Media <br> & Github</h2>
  		<ul>
  			<li>Git Repos</li>
  			<li>Social Links</li>
  			<li>FMO</li>
  			<li>Developer Favorites</li>
  			<li>Personal</li>
  			<li>Where I'm From</li>
  			<li>Submit Request</li>
  		</ul>
  		<h2>Extras</h2>
  		<ul>
  			<li>Direct Message</li>
  			<li>Book Development</li>
  			<li>More About Me</li>
  		</ul>
  	</nav>
  	
  	<header class="width hide">
  		<h1>R. Largè</h1>
  		<p>My name is Ryan Large, I am a fullstack web developer with a strong understanding of html, css & JavaScript. My strengths lie in the MERN stack (<strong>M</strong>-ongoDB, <strong>E</strong>-press, <strong>R</strong>-eact, <strong>N</strong>-ode.js). The knowledge in these frameworks, libraries & programming languages is a powerful and extensive tool to have in your developing arsenal. Be sure to view my best work using these languages.</p>
  		<div class="card-container flex">
  			<div class="head-card flex-col">
  				<div class="bg bg-1"></div>
  				<div class="text flex">Web Development</div>
  			</div>
  			<div class="head-card flex-col">
  				<div class="bg bg-2"></div>
  				<div class="text flex">Software Engineering</div>
  			</div>
  		</div>
  	</header>
  	
  	<section class="sec-1 sec width">
  		<h2>Time Table</h2>
      <i class="fa-solid fa-timeline"></i>
      <div class="time-line-container">
      	<div class="line"></div>
      	<div class="dots-holder">
      		<div class="dot flex">
      			<div class="inner-dot"></div>
      		</div>
      		<div class="date flex">
      			<div class="date-inner flex">05/7/2022</div>
      		</div>
      		<div class="info flex">
      			<div class="info-inner flex">My Job</div>
      		</div>
      	</div>
      </div>
  	</section>
  	<section class="sec-2 sec width hide">
  		<div id="googleMap" class="width"></div>
  	</section>
  </body>
</html>