<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="About Me Page" />
    <link rel="stylesheet" href="./Stylesheets/home.css" />
    <script defer src="./JavaScript/home.js"></script>
    <script defer src="./JavaScript/timeline.js"></script>
    <script
      defer
      src="https://kit.fontawesome.com/a673862905.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="./JavaScript/maps.js"></script>
    <script
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9yjwFjd4DZ2sOGvrOjjwM5VtwP3B-nfw&callback=myMap"
    ></script>
    <title>Ryan Large</title>
  </head>
  <body>
    <div class="drop-shadow"></div>
    <div class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <aside class="flex-col">
      <i class="fa-solid fa-layer-group"></i>
      <i class="fa-regular fa-file-code"></i>
      <i class="fa-solid fa-desktop"></i>
      <i class="fa-brands fa-connectdevelop"></i>
      <i class="fa-solid fa-server"></i>
      <i class="fa-solid fa-code"></i>
      <i class="fa-brands fa-dev"></i>
    </aside>
    <img
      src="https://miro.medium.com/max/1072/1*rLnrIrpIywxyEX-Vt51l3Q.png"
      class="hide"
    />
    <nav>
      <div class="logo">Largè</div>
      <h2 class="top-heading">OverView</h2>
      <ul>
        <li>Deployments<i class="fa-solid fa-earth-americas"></i></li>
        <li>Tech Stack<i class="fa-solid fa-boxes-stacked"></i></li>
        <li>Engineering<i class="fa-solid fa-square-root-variable"></i></li>
        <li>Logs<i class="fa-regular fa-clipboard"></i></li>
        <li>Documentation<i class="fa-solid fa-book"></i></li>
      </ul>
      <h2>TimeLine</h2>
      <ul>
        <li>Freelancing<i class="fa-solid fa-house-laptop"></i></li>
        <li>Professional<i class="fa-solid fa-briefcase"></i></li>
        <li>Personal Work<i class="fa-solid fa-laptop-code"></i></li>
      </ul>
      <h2>Connections</h2>
      <ul>
        <li>Quotes<i class="fa-solid fa-quote-left"></i></li>
        <li>Dev Process<i class="fa-solid fa-arrow-up-short-wide"></i></li>
        <li>Why Work With Me<i class="fa-solid fa-handshake-simple"></i></li>
        <li>Billing <i class="fa-solid fa-file-invoice-dollar"></i></li>
        <li>Community<i class="fa-solid fa-people-line"></i></li>
      </ul>
      <h2>
        Social Media <br />
        & Github
      </h2>
      <ul>
        <li>Git Repos<i class="fa-brands fa-square-github"></i></li>
        <li>Social Links<i class="fa-solid fa-share-nodes"></i></li>
        <li>FMO<i class="fa-solid fa-magnifying-glass-location"></i></li>
        <li>Developer Favorites<i class="fa-solid fa-star"></i></li>
        <li>Personal<i class="fa-solid fa-user"></i></li>
        <li>Where I'm From<i class="fa-solid fa-compass"></i></li>
        <li>Submit Request<i class="fa-solid fa-code-pull-request"></i></li>
      </ul>
      <h2>Extras</h2>
      <ul>
        <li>Direct Message<i class="fa-solid fa-message"></i></li>
        <li>Book Development<i class="fa-solid fa-pen-to-square"></i></li>
        <li>More About Me<i class="fa-solid fa-address-card"></i></li>
      </ul>
    </nav>

    <header class="width hide">
      <h1>R. Largè</h1>
      <p>
        My name is Ryan Large, I am a fullstack web developer with a strong
        understanding of html, css & JavaScript. My strengths lie in the MERN
        stack (<strong>M</strong>-ongoDB, <strong>E</strong>-press,
        <strong>R</strong>-eact, <strong>N</strong>-ode.js). The knowledge in
        these frameworks, libraries & programming languages is a powerful and
        extensive tool to have in your developing arsenal. Be sure to view my
        best work using these languages.
      </p>
      <div class="card-container flex">
        <div class="head-card flex-col">
          <div class="bg bg-1"></div>
          <div class="text flex">Web Development</div>
        </div>
        <div class="head-card flex-col">
          <div class="bg bg-2"></div>
          <div class="text flex">Software Engineering</div>
        </div>
      </div>
    </header>

    <section class="sec-1 sec width">
      <h2>Time Table</h2>
      <i class="fa-solid fa-timeline"></i>
      <div class="time-line-container">
        <div class="line"></div>
        <div class="dots-holder">
          <div class="dot flex">
            <div class="inner-dot"></div>
          </div>
          <div class="date flex">
            <div class="date-inner flex">05/7/2022</div>
          </div>
          <div class="info flex">
            <div class="info-inner flex">My Job</div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec-2 sec width hide">
      <div id="googleMap" class="width"></div>
    </section>
  </body>
</html>
