<footer>
  <div class="footer-link-list">
    <ul>
      <li><a href="">connect</a></li>
      <li><a href="">contact</a></li>
      <li><a href="">social</a></li>
      <li><a href="">careers</a></li>
      <li><a href="">coding</a></li>
    </ul>
    <ul>
      <li><a href="">about</a></li>
      <li><a href="">email</a></li>
      <li><a href="">products</a></li>
      <li><a href="">terms</a></li>
      <li><a href="">issues</a></li>
    </ul>
  </div>
  <div class="social-footer-links">
    <div class="footer-link-container-1">
      <i class="fa-brands fa-github"></i>
      <i class="fa-solid fa-table-cells-large"></i>
    </div>
    <div class="footer-link-container-2">
      <i class="fa-brands fa-discord"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>
  </div>
</footer>