footer {
	background-color: #030349;
	width: 100vw;
	padding: 1em;
	color: #fff;

	.footer-link-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		ul {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;

			li {
				list-style-type: none;
				margin: 0.25em 0;

				a {
					padding: 10px;
					text-decoration: none;
					color: #fff;
				}
			}
		}
	}

	.social-footer-links {
		margin: auto;
		margin-top: 50px;
		text-align: center;

		div {
			margin: 5px 0;
		}

		i {
			margin: 2.5px 7.5px;
		}
	}
}