<nav>
<div class="logo">
<a href="/">Largè</a>
</div>
<h2 class="top-heading">OverView</h2>
<ul>
<li>Deployments<i class="fa-solid fa-earth-americas"></i></li>
<li>Tech Stack<i class="fa-solid fa-boxes-stacked"></i></li>
<li>Engineering<i class="fa-solid fa-square-root-variable"></i></li>
<li>Logs<i class="fa-regular fa-clipboard"></i></li>
<li>Documentation<i class="fa-solid fa-book"></i></li>
</ul>
<h2>TimeLine</h2>
<ul>
<li>Freelancing<i class="fa-solid fa-house-laptop"></i></li>
<li>Professional<i class="fa-solid fa-briefcase"></i></li>
<li>Personal Work<i class="fa-solid fa-laptop-code"></i></li>
</ul>
<h2>Connections</h2>
<ul>
<li>Quotes<i class="fa-solid fa-quote-left"></i></li>
<li>Dev Process<i class="fa-solid fa-arrow-up-short-wide"></i></li>
<li>Why Work With Me<i class="fa-solid fa-handshake-simple"></i></li>
<li>Billing <i class="fa-solid fa-file-invoice-dollar"></i></li>
<li>Community<i class="fa-solid fa-people-line"></i></li>
</ul>
<h2>
Social Media <br />
& Github
</h2>
<ul>
<li>Git Repos<i class="fa-brands fa-square-github"></i></li>
<li>Social Links<i class="fa-solid fa-share-nodes"></i></li>
<li>FMO<i class="fa-solid fa-magnifying-glass-location"></i></li>
<li>Developer Favorites<i class="fa-solid fa-star"></i></li>
<li>Personal<i class="fa-solid fa-user"></i></li>
<li>Where I'm From<i class="fa-solid fa-compass"></i></li>
<li>Submit Request<i class="fa-solid fa-code-pull-request"></i></li>
</ul>
<h2>Extras</h2>
<ul>
<li>Direct Message<i class="fa-solid fa-message"></i></li>
<li>Book Development<i class="fa-solid fa-pen-to-square"></i></li>
<li>More About Me<i class="fa-solid fa-address-card"></i></li>
</ul>
<div class="connect flex-col">
<a href="tel:7029811370">(702) 981-1370</a>
<a href="mailto:ryanhudsonlarge13@gmail.com">ryanhudsonlarge13@gmail.com</a>
</div>
</nav>