<div class="login-container">
	<div class="login-form-container">
		<h2>Login</h2>
		<form>
			<input placeholder="Email" />
		<button class="login-email-btn"><i class="fa-solid fa-circle-arrow-right"></i></button>
	</form>
	<div class="signin-with-oauth-container">
		<button class="google"><i class="fa-brands fa-google"></i></button>
		<button class="github"><i class="fa-brands fa-github"></i></button>
		<button class="facebook"><i class="fa-brands fa-facebook"></i></button>
	</div>
</div>
<a href="#">Sign up</a>
</div>