* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

//variables
$trans-fast: 250ms ease-in-out;
$trans-med: 500ms ease-in-out;
$trans-med-slo: 750ms ease-in-out;
$trans-slo: 2s ease-in-out;

//repeating styles
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.width {
	width: 100vw;
	height: 100vh;
}
.sec {
	padding-left: 13%;
	padding-right: 10%;
	width: 100vw;
}

//styling home page elements
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body {
	overflow-x: hidden;
}
.blob-container {
	z-index: -10;
	position: fixed;
	top: 50%;
	right: -25%;
	width: 100%;
	height: 100%;
}
.top-left-blue {
	position: fixed;
	top: -20%;
	right: -20%;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-image: radial-gradient(#1f9, #1f9);
	opacity: 0.3;
	filter: blur(10px);
}
.bottom-left-purple {
	position: fixed;
	bottom: -20%;
	left: -20%;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	background-image: radial-gradient(#139, #139);
	opacity: 0.3;
	filter: blur(10px);
	z-index: -1;
}
.drop-shadow {
	position: fixed;
	inset: 0;
	height: 100vh;
	width: 100vw;
	pointer-events: none;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	transition: $trans-med;
	z-index: 998;
}
.nav-toggle {
	position: fixed;
	top: 0;
	left: 0;
	margin: 1em 0 0 0.4em;
	width: 40px;
	height: 25px;
	z-index: 999;
	transition: $trans-fast;
	border-radius: 1em;
	background-color: rgba(255,255,255,0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	&:hover {
		cursor: pointer;
	}
	span {
		content: "";
		width: 50%;
		height: 3px;
		background-color: #000;
		border-radius: 1em;
		transition: $trans-med;
		margin: 1px 0;
		&:nth-child(1) {
			transition: $trans-fast;
			transition-delay: 500ms;
		}
		&:nth-child(2).open {
			transform: rotate(45deg) translateY(0.25em);
		}
		&:nth-child(1).open {
			transform: scale(0, 1);
			transform-origin: right;
			transition-delay: 0ms;
		}
		&:nth-child(3).open {
			transform: rotate(-45deg) translateY(-0.25em);
		}
	}
}
.login-toggle {
	position: fixed;
	padding: 0.5em;
	bottom: 1%;
	left: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	z-index: 999;
	background-color: #030349;
	color: #fff;
	border-radius: 50%;
}
img {
	position: absolute;
	top: 5%;
	width: 100vw;
	z-index: -1;
}
.drop-shadow.open {
	opacity: 1;
	pointer-events: inherit;
}
header {
	padding: 37.5vh 10% 0 13%;
}
h1 {
	margin-bottom: 0.25em;
}
.type-writer {
	min-height: 15vh;
	line-height: 1.25em;
	margin-bottom: 3em;
	&:hover {
		cursor: pointer;
	}
}
hr {
	transform: translateY(-4em);
}
.card-container {
	margin-top: 1.5em;
	width: 100%;
	height: 30%;
	gap: 2em;
	.head-card {
		width: 100%;
		height: 100%;
		border-radius: 0.5em;
		box-shadow: 0.1em 0.15em 0.5em 0 #696969;
		transform: translateY(200%);
		transition: $trans-med-slo;
		background-color: #fff;
		&:hover {
			scale: 1.02;
			cursor: pointer;
			box-shadow: 0.15em 0.15em 0.75em 0 #696969;
		}
		.bg {
			width: 100%;
			height: 100%;
			border-radius: 0.5em;
			background-position: center;
			background-size: cover;
		}
		.bg-1 {
			background-image: url("https://cloudfour.com/wp-content/uploads/2020/05/dev-tools-for-designers-poster.jpg");
		}
		.bg-2 {
			background-image: url("https://blog.planview.com/wp-content/uploads/2020/01/Top-6-Software-Development-Methodologies.jpg");
		}
		.text {
			height: 25%;
			font-size: 0.6em;
			text-align: center;
			font-weight: 600;
		}
	}
}
.sec-1 {
	h2 {
		font-size: 2em;
		margin-bottom: 0.25em;
		&::first-letter {
			color: rgba(149, 183, 237, 0.6);
			font-weight: bold;
			font-size: 3em;
		}
	}
	h3 {
		margin-top: 0.25em;
	}
	p {
		line-height: 1.25em;
	}
	.end-link-small {
		font-size: 0.5em;
		text-decoration: underline;
		margin-top: 2em;
		text-align: center;
	}
	hr {
		transform: translate(0);
		margin-top: 2em;
	}
}
.project-selection-btns {
	margin-top: 1em;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1em;
	.project-btn {
		background-color: #030349;
		padding: 0.5em 1em;
		border-radius: 100em;
		border: none;
		outline: none;
		box-shadow: 0 1px 0.5em 0 #999;
		color: #fff;
	}
}
.sec-2 {
	position: relative;
	margin-top: 0;
	z-index: 5;
	.top-square-green {
		position: absolute;
		right: 20%;
		top: 21%;
		width: 50px;
		height: 75px;
		background-color: rgba(17,255,153,0.8);
		transform: translate(80%, -80%);
		z-index: 10;
		clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
	}
	.top-square-pink {
		position: absolute;
		top: 15%;
		right: 0;
		width: 80px;
		height: 75px;
		background-color: rgba(255,0,255,0.4);
		float: right;
		z-index: -1;
	}
	.clip {
		width: 100%;
		height: 25vh;
		position: relative;
		z-index: -1;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #030349;
			clip-path: polygon(0 59%, 100% 0, 100% 100%, 0 100%);
		}
	}
	.overflow-text {
		z-index: 900;
		transform: translateY(45%);
		h2 {
			font-size: 2em;
			margin-bottom: 0.25em;
			margin-left: 13%;
			width: 100vw;
			&::first-letter {
				color: rgba(255, 0, 255, 0.4);
				font-weight: bold;
				font-size: 3em;
			}
		}
	}
	strong {
		color: #fff;
		margin-left: 4.75em;
	}
	.follow-clip {
		transform: translateY(-1px);
		background-color: #030349;
		color: #1f9;
		padding-left: 13%;
		padding-right: 6%;
		padding-bottom: 25%;
		clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
		z-index: 25;
		h2 {
			font-size: 1em;
			color: rgb(149, 183, 237);
			margin-bottom: 2em;
		}
		.code {
			min-height: 75px;
		}
		.code-strong {
			margin-left: 2em;
			color: #1f9;
			font-weight: 500;
		}
		p {
			font-size: 0.8em;
			margin-top: 2em;
			color: rgba(255,255,255,0.7);
			line-height: 1.25em;
			&::first-letter {
				font-size: 1.5em;
				color: rgb(255,0,255);
			}
		}
		button {
			padding: 0.5em 1em;
			border: none;
			outline: none;
			box-shadow: 0 1px 0.5em 0 #999;
			background-color: rgb(149,183,237);
			border-radius: 50em;
			margin-top: 1em;
			font-weight: 600;
		}
		h4 {
			font-size: 0.9em;
			font-weight: 600;
			color: #fff;
			border-left: 1px solid rgb(255,0,255);
			margin-top: 4em;
			padding-left: 1em;
		}
		a {
			font-size: 0.75em;
			color: #1f9;
		}
	}
}
.square-color-green {
	width: 50px;
	height: 75px;
	background-color: rgba(17,255,153, 0.8);
	transform: translate(80%, -80%);
	z-index: 10;
	clip-path: polygon(0 0, 100% 0, 100% 100%,100% 100%, 0% 80%);
}
.square-color-blue {
	width: 80px;
	height: 75px;
	background-color: rgba(255,0,255,0.4);
	margin-top: -7em;
}
.sec-3 {
	margin-top: 10%;
	z-index: 2;
	h2 {
		margin-top: 20%;
		font-size: 1em;
		color: rgb(255,0,255);
		margin-bottom: 10%;
	}
	h3 {
		font-size: 1.75em;
		line-height: 1.25em;
		width: 105%;
	}
	h4 {
		border-left: 1px solid rgb(255,0,255);
		padding-left: 0.5em;
		margin-top: 2em;
		margin-bottom: 1em;
	}
	strong {
		font-weight: 500;
		color: rgb(255,0,255);
	}
	#wave {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
	}
	#svg {
		transform: rotateZ(180deg);
	}
	#svg-div {
		margin-top: -30vh;
		margin-left: -20%;
		height: 25vh;
		width: 110vw;
		z-index: -10;
	}
}

.sec-4 {
	margin-top: 10%;
	padding: 0;
	z-index: 5;
	.clip {
		width: 100%;
		height: 25vh;
		position: relative;
		z-index: 5;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #030349;
			clip-path: polygon(0 0, 100% 59%, 100% 100%, 0 100%);
		}
	}
	.follow-clip {
		transform: translateY(-1px);
		background-color: #030349;
		color: #1f9;
		padding-left: 13%;
		padding-right: 6%;
		padding-bottom: 30%;
		clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		z-index: 25;

		h2 {
			margin-bottom: 1em;
		}
		h3 {
			font-size: 2em;
			color: rgb(255,0,255);
		}
		h4 {
			color: #fff;
			font-weight: 600;
			border-left: 1px solid #d1d;
			padding-left: 0.5em;
			margin-top: 2.5em;
			margin-bottom: 0.25em;
		}
		p {
			font-size: 0.75em;
			color: rgba(255,255,255,0.7);
		}
		strong {
			color: #1f9;
		}
	}
}
.sec-5 {
	h2 {
		font-size: 2em;
		margin-bottom: 1em;
		&:first-letter {
			color: rgba(149, 183, 237, 0.6);
			font-weight: bold;
			font-size: 3em;
		}
	}
}

.post {
	overflow: hidden;
	margin: auto;
	padding: 1em;
	position: relative;
	width: 90%;
	height: 50vh;
	border-radius: 1em;
	background-color: #fff;
	box-shadow: 0 0.1em 0.25em 0 #aaa;
	.image-container {
		all: unset;
		img {
			all: unset;
		}
	}
	h2 {
		margin-bottom: 0;
		&:first-letter {
			all: unset;
		}
	}
	.post-desc {
		font-weight: 600;
		margin: 0.5em 0.5em 0 0;
	}
	.comments {
		position: absolute;
		bottom: 19%;
		left: 7%;
		font-size: 0.75em;
	}
	.likes {
		position: absolute;
		bottom: 19%;
		right: 7%;
		font-size: 0.75em;
	}
	.like-btn {
		position: absolute;
		bottom: 12%;
		right: 4%;
		font-size: 1.5em;
		border: none;
		outline: none;
		background-color: transparent;
	}
	.comment-btn {
		position: absolute;
		bottom: 12%;
		left: 4%;
		font-size: 1.5em;
		border: none;
		outline: none;
		background-color: transparent;
	}
	.view-post-container {
		overflow: hidden;
		min-height: 10%;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(10, 255, 100, 0.2);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0.5em;
		box-shadow: 0 -0.1em 0.5em 0 #eee;

		button {
			border: none;
			outline: none;
			background-color: transparent;
			font-weight: 600;
			position: absolute;
			padding: 5em;
		}
	}
}
.slider-dots-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px 0;
	.slider-dots {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #030349;
	}
}