body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1 {
  margin: 0.1em 0; }

form {
  transform: translateY(-50px);
  opacity: 0;
  transition: transform ease-in-out 500ms;
  padding: 1em;
  background-color: #fff; }
  form label {
    display: none; }
  form input {
    margin: 0.5em 0;
    padding: 1em 0;
    outline: none;
    border: none;
    border-radius: 0.5em;
    width: 100%; }
  form button {
    display: block;
    margin: 1em 0;
    background-color: #1f9;
    padding: 1em 1em;
    outline: none;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 0.5em #ddd;
    font-weight: 600;
    width: 100%; }

button {
  display: block;
  margin: 1em;
  background-color: #f09;
  padding: 1em 1em;
  outline: none;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 0.2em 0.5em #ddd;
  font-weight: 600;
  width: 100%; }
